@model List<DesignPattern.Facade.DAL.OrderDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FacadeLayout.cshtml";
}

<h1>Sipariş Detay Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Müşteri</th>
        <th>Ürün</th>
        <th>Sipariş</th>
        <th>Ürün Adet</th>
        <th>Ürün Fiyat</th>
        <th>Toplam Fiyat</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.OrderDetailID</td>
            <td>@item.CustomerID</td>
            <td>@item.ProductID</td>
            <td>@item.OrderID</td>
            <td>@item.ProductCount</td>
            <td>@item.ProductPrice</td>
            <td>@item.ProductTotalPrice</td>
        </tr>
    }
</table>
<a href="/Order/OrderStart/" class="btn btn-primary">Sipariş Ekle</a>
<a href="/Order/OrderDetailStart/" class="btn btn-primary">Sipariş Detayı Ekle</a>