
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <h3>Plan Adı : <strong>@ViewBag.v1</strong></h3>
    <h3>Kişi Sayısı : <strong>@ViewBag.v2</strong></h3>
    <h3>Fiyat : <strong>@ViewBag.v3</strong></h3>
    <h3>Çözünürlük : <strong>@ViewBag.v4</strong></h3>
    <h3>İçerik : <strong>@ViewBag.v5</strong></h3>
    <a href="/Default/StandartPlanIndex/" class="btn btn-warning">Standart Plan</a>
    <a href="/Default/UltraPlanIndex/" class="btn btn-success">Ultra Plan</a>
</div>